# کتابخانه ها

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

from keras.utils import np_utils
from keras.models import Sequential
from keras.layers import Dense, Dropout, BatchNormalization, Flatten

from sklearn.model_selection import StratifiedKFold

# تشخیص حملات در شبکه مدل 2

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/python 3_5/UNSW_NB15_training-set.csv')
df.head()

   id       dur proto service  ... ct_srv_dst  is_sm_ips_ports  attack_cat  label
0   1  0.121478   tcp       -  ...          1                0      Normal      0
1   2  0.649902   tcp       -  ...          6                0      Normal      0
2   3  1.623129   tcp       -  ...          6                0      Normal      0
3   4  1.681642   tcp     ftp  ...          1                0      Normal      0
4   5  0.449454   tcp       -  ...         39                0      Normal      0

[5 rows x 45 columns]

In [ ]:
df = df.drop('label', axis=1)
X = df.iloc[:,0:43]
Y = df.iloc[:,43]

In [ ]:
X = str2int_X(X)

In [ ]:
X

            id       dur  proto  ...  ct_src_ltm  ct_srv_dst  is_sm_ips_ports
0            1  0.121478      1  ...           1           1                0
1            2  0.649902      1  ...           1           6                0
2            3  1.623129      1  ...           2           6                0
3            4  1.681642      1  ...           2           1                0
4            5  0.449454      1  ...           2          39                0
...        ...       ...    ...  ...         ...         ...              ...
175336  175337  0.000009      2  ...          24          24                0
175337  175338  0.505762      1  ...           1           1                0
175338  175339  0.000009      2  ...           3          12                0
175339  175340  0.000009      2  ...          30          30                0
175340  175341  0.000009      2  ...          30          30                0

[175341 rows x 43 columns]

In [ ]:
Y.value_counts()

Normal            56000
Generic           40000
Exploits          33393
Fuzzers           18184
DoS               12264
Reconnaissance    10491
Analysis           2000
Backdoor           1746
Shellcode          1133
Worms               130
Name: attack_cat, dtype: int64

In [ ]:
def str2int_Y(Y):
  Y1 = Y.replace("Normal", 1)
  Y2 = Y1.replace("Generic", 2)
  Y3 = Y2.replace("Exploits", 3)
  Y4 = Y3.replace("Fuzzers", 4)
  Y5 = Y4.replace("DoS", 5)
  Y6 = Y5.replace("Reconnaissance", 6)
  Y7 = Y6.replace("Analysis", 7)
  Y8 = Y7.replace("Backdoor", 8)
  Y9 = Y8.replace("Shellcode", 9)
  Y10 = Y9.replace("Worms", 10)

  return Y10

In [ ]:
Y = str2int_Y(Y)

In [ ]:
Y.value_counts()

1     56000
2     40000
3     33393
4     18184
5     12264
6     10491
7      2000
8      1746
9      1133
10      130
Name: attack_cat, dtype: int64

In [ ]:
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)
dummy_Y = np_utils.to_categorical(encoded_Y)
dummy_Y.astype(int)

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]])

In [ ]:
model = Sequential()
model.add(Dense(128, input_dim=43 ,kernel_initializer="uniform", activation="relu"))

model.add(Dense(128, kernel_initializer="uniform", activation="relu"))

model.add(Dense(128, kernel_initializer="uniform", activation="relu"))
model.add(Dropout(0.2))
model.add(BatchNormalization())

model.add(Dense(64, kernel_initializer="uniform", activation="relu"))
model.add(BatchNormalization())

model.add(Dense(10, kernel_initializer="uniform", activation="softmax"))

In [ ]:
model.compile(loss = "categorical_crossentropy", optimizer="adam", metrics=["accuracy"] )

In [ ]:
model.fit(x=X ,y=dummy_Y , epochs=10, batch_size=256)

Epoch 1/10
685/685 [==============================] - 5s 6ms/step - loss: 1.3933 - accuracy: 0.5238
Epoch 2/10
685/685 [==============================] - 4s 6ms/step - loss: 1.2581 - accuracy: 0.5519
Epoch 3/10
685/685 [==============================] - 4s 6ms/step - loss: 1.2371 - accuracy: 0.5569
Epoch 4/10
685/685 [==============================] - 4s 6ms/step - loss: 1.2289 - accuracy: 0.5575
Epoch 5/10
685/685 [==============================] - 4s 6ms/step - loss: 1.2248 - accuracy: 0.5610
Epoch 6/10
685/685 [==============================] - 4s 6ms/step - loss: 1.2324 - accuracy: 0.5596
Epoch 7/10
685/685 [==============================] - 4s 6ms/step - loss: 1.2375 - accuracy: 0.5605
Epoch 8/10
685/685 [==============================] - 4s 6ms/step - loss: 1.2577 - accuracy: 0.5564
Epoch 9/10
685/685 [==============================] - 4s 6ms/step - loss: 1.2588 - accuracy: 0.5499
Epoch 10/10
685/685 [==============================] - 4s 6ms/step - loss: 1.2590 - accuracy: 0.5490

In [ ]:
######################################################################################################################################

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/Datasets/python 3_5/UNSW_NB15_testing-set.csv')
df2.head()

   id       dur proto service  ... ct_srv_dst  is_sm_ips_ports  attack_cat  label
0   1  0.000011   udp       -  ...          2                0      Normal      0
1   2  0.000008   udp       -  ...          2                0      Normal      0
2   3  0.000005   udp       -  ...          3                0      Normal      0
3   4  0.000006   udp       -  ...          3                0      Normal      0
4   5  0.000010   udp       -  ...          3                0      Normal      0

[5 rows x 45 columns]

In [ ]:
df2 = df2.drop('label', axis=1)
X2 = df2.iloc[:,0:43]
Y2 = df2.iloc[:,43]

In [ ]:
X2 = str2int_X(X2)

In [ ]:
Y2.value_counts()

Normal            37000
Generic           18871
Exploits          11132
Fuzzers            6062
DoS                4089
Reconnaissance     3496
Analysis            677
Backdoor            583
Shellcode           378
Worms                44
Name: attack_cat, dtype: int64

In [ ]:
Y2 = str2int_Y(Y2)

In [ ]:
Y2.value_counts()

1     37000
2     18871
3     11132
4      6062
5      4089
6      3496
7       677
8       583
9       378
10       44
Name: attack_cat, dtype: int64

In [ ]:
encoder = LabelEncoder()
encoder.fit(Y2)
encoded_Y = encoder.transform(Y2)
dummy_Y = np_utils.to_categorical(encoded_Y)
dummy_Y.astype(int)

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]])

In [ ]:
model.evaluate(x=X2 ,y=dummy_Y)

2573/2573 [==============================] - 9s 4ms/step - loss: 1.2076 - accuracy: 0.5756

[1.2076263427734375, 0.5756328105926514]